<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container d-flex flex-column align-items-center justify-content-center">
    <h1>👉 LE MONDE DES GENIES 🧞‍♀️</h1>
    <h2>Explorez un univers envoutant peuplé de génies et de merveilles 🥳</h2>
    <a href="scenario/afficher_galerie.html" class="btn-get-started scrollto">JOUER</a>
    <img src="bootstrap/assets/img/hero-img.png" class="img-fluid hero-img" alt="" width="400px">
  </div>
</section><!-- End Hero -->

<!-- ======= Table des Actualités ======= -->
<div class="container">
  <h1 style="text-align: center; background-color: #f2f2f2; color: #f40b0b; margin-top: 20px">Les Actualités</h1>
  <div class="table-responsive">
    <table class="table table-bordered" style="background-color: #f40b0b; margin-top: 30px">
      <thead class="thead-dark">
        <tr>
          <th style="text-align: center; padding: 10px; background-color: #333; color: #ecc56a;">Intitulé</th>
          <th style="text-align: center; padding: 10px; background-color: #333; color: #ecc56a;">News</th>
          <th style="text-align: center; padding: 10px; background-color: #333; color: #ecc56a;">Date</th>
          <th style="text-align: center; padding: 10px; background-color: #333; color: #ecc56a;">Auteurs</th>
        </tr>
      </thead>
      <tbody>
        <!-- Exemple de données statiques -->
        <tr>
          <td style="text-align: center; padding: 10px;">Titre 1</td>
          <td style="text-align: center; padding: 10px;">Description de l'actualité 1</td>
          <td style="text-align: center; padding: 10px;">2024-01-01</td>
          <td style="text-align: center; padding: 10px;">Auteur 1</td>
        </tr>
        <tr>
          <td style="text-align: center; padding: 10px;">Titre 2</td>
          <td style="text-align: center; padding: 10px;">Description de l'actualité 2</td>
          <td style="text-align: center; padding: 10px;">2024-02-01</td>
          <td style="text-align: center; padding: 10px;">Auteur 2</td>
        </tr>
      </tbody>
    </table>
  </div>
  <strong><h1 style="color:#FF0000; text-align: center;">Aucune Actualité pour le moment</h1></strong>
</div>
